<?xml version="1.0" encoding="utf-8"?>

<launch>

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="elikos_blobdetection_nodelet" args="load elikos_detection/blobdetection_nodelet standalone_nodelet" output="screen"></node>
</launch>